.header{
    width: 100%;
    height: 76px;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginButton{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 8px 32px;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
}

.loginButton:hover{
    transform: scale(1.08);
    background-color: #fff;
    color: #000;
    font-weight: bold;
    box-shadow: 1px 1px 10px rgba(255,255,255,1);
}

.content a {
    text-decoration: none;
}

.logo{
    color: #fff;
    font-size: 32px;
}

.logo span {
    color: aquamarine;
    padding-left: 2px;
}

.nav{
    display: flex;
    align-items: center;

}

.link{
    background-color: #f1f1f1;
    color: #0f0f0f;
    padding: 4px 14px;
    margin: 0 14px;
    border-radius: 4px;
}